/* #region Base */
body {
    font-family: "Roboto", sans-serif;
    color: #434455; 
    font-size: 16px; 
    line-height: 1.5; 
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion */
/* #region header */
.logo, .logo-light, .logo-dark {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;    
    transition: color 0.3s; 
    text-transform: uppercase;
    color: #4d5ae5;     
}

.logo-light, .logo-dark {
    width: 115px;
    height: 24px;
    opacity: 1;
}

.logo-light {
    background: #4D5AE5;
}

.logo-dark {
    color: #2E2F42;
}

.logo:hover, .logo:focus, .logo-light:hover, .logo-light:focus, .logo-dark:hover, .logo-dark:focus, .header-address:hover, .header-address:focus {
    color: #404bbf; /* Change color on hover and focus */
}

.header-nav-list {
    color: #2E2F42;
}

.header-nav-item a {
    font-weight: 500; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #2e2f42; 
    text-decoration: none; 
}

.header-nav-item a:hover, .header-nav-item a:focus {
    color: #404bbf; 
}
.nav-link {
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #434455; 
    text-decoration: none; 
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf; 
}

.header-address {
    font-style: normal;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* #endregion header */
/* #region Main */
/* Hero Section Styles */
.hero-section {
    background-color: #2e2f42; 
    padding: 40px 20px; 
    text-align: center; 
}

.hero-title {
    font-family: "Roboto", sans-serif; 
    font-size: 56px; 
    line-height: 1.07; 
    letter-spacing: 0.02em; 
    color: #ffffff; 
    margin: 0 0 20px; 
}

.btn-hero {
    background-color: #4D5AE5; 
    font-family: "Roboto", sans-serif; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.04em; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.btn-hero:hover, .btn-hero:focus {
    background-color: #404BBF; 
}

/* #endregion Main */

/* #region Effective Solutions */
/* Second Section Styles */
.features-section {
    padding: 20px; 
    background: #FFFFFF; 
}

.section-title {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700; 
    font-size: 24px; 
    line-height: 1.3; 
    color: #2E2F42; 
    text-align: center; 
}

.feature-item {
    margin-bottom: 15px;
}

.feature-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature-description {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion Effective Solutions */

/* #region Our Team */
.team-section {
    background-color: #F4F4FD;
    padding: 20px;
}

.team-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-member {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 10px;
}

.team-name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}

.team-specialization {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
/* #endregion */

/* #region Our Portfolio */
.portfolio-section {
    background-color: #F4F4FD;
    padding: 20px;
}

.portfolio-title {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-item {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 10px;
}

.portfolio-name {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}

.portfolio-specialization {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
/* #endregion */

/* #region footer */
/* Footer Styles */
.site-footer {
    background-color: #2e2f42; 
    text-align: center; 
}

.footer-logo {
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform: uppercase; 
    color: #4d5ae5; 
    text-decoration: none; 
}

.footer-logo span {
    color: #f4f4fd; 
}

.footer-nav {
    margin: 20px 0; 
    list-style: none; 
    
}

.footer-nav a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px; 
}

.footer-nav a:hover,
.footer-nav a:focus {
    text-decoration: underline; 
}

:root {
    --footer-text-color: #F4F4FD; 
}

/* #endregion footer */
